@font-face {
    font-family: 'GishaRegular';
    src: url('gisha.eot');
    src: url('gisha.eot') format('embedded-opentype'),
         url('gisha.woff') format('woff'),
         url('gisha.ttf') format('truetype'),
         url('gisha.svg#GishaRegular') format('svg');
}

h1, h2, h3, label, a, button {
	font-family: 'GishaRegular';
}

p, span, body {
	font-family: 'Palatino';
}

.category {
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 5px;
}

.category-title {
	font-family: 'GishaRegular';
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}

.post-title {
	font-family: 'GishaRegular';
	font-weight: bold;
	text-transform: lowercase;;
	font-size: 24px;
	margin-top: 10px;
}

#post_title, #post_content {
	border: none;
}

#post_title {
	clear: both;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 700;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-size: 30px;
	line-height: 30px;
	height: 40px;
	box-shadow:none;
}

#post_content {
	width: 500px;
	color: #000;
	background: 0;
	border: 0;
	padding: 15px;
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	resize: none;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow:none;
}

.post-content {
	font-family: 'Palatino';
	font-size: 18px;
	line-height: 180%;
}

.new-post {
	margin-top: 50px;
	margin-left: 100px;
}
label {margin-bottom: 0px;}

select {

}

#publish {
	float: right;
	font-weight: bold;
	margin-right: 200px;
}