<h1>Listing categories</h1>

<% @categories.each do |c| %>
  <div class="span4">
    <div class="category-title">
      <%= c.title %>
    </div>
    <div class="category-posts">
      <% c.posts[0..2].each do |p| %>
        <%= p.title %>
        <%= p.content %>
      <% end %>
    </div>
  </div>
<% end %>

<br/>

